<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="#">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/assets/main.css">
        <script src="https://unpkg.com/vue@3"></script>
        <!-- google fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">
        <!-- font -->
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header -->
         <header>
            <div class = "navigation-container">
                <div class = "top-head">
                    <div class = "web-name">
                        <h1>{{ title }}</h1>
                    </div>
                    <div class = "ham-btn">
                        <span>
                            <i class = "fas fa-bars"></i>
                        </span>
                    </div>
                    <div class = "times-btn">
                        <span>
                            <i class = "fas fa-times"></i>
                        </span>
                    </div>
                </div>
                <!-- nav bar -->
                <div class = "nav-bar" id = "nav-bar">
                    <nav>
                        <ul>
                            <li v-for="(link, index) in links" :key="index">
                                <a :href="link.url" @click="">
                                    {{ link.text }}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class = "top-head">
                    <div class="loginContainer">
                        <div class="loginIcon">
                            <img src = "/assets/imgs/icon.png">
                        </div>
                    </div>
                    
                    <div class="search-container">
                        <input type="text" placeholder="Search...">
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </div>  
                </div>
            </div>
        </header>   
        <hr>
        <main>
            <section class = "main-container-left">
                <h2 id="mainTitle">{{ vijesti }}</h2>
                <div class="holder">
                    <div class="leftEmpty"></div>
                    <div class="container-top-left">
                        <div class="news-log">
                            <div class="weather-forecast">
                                <h2 class="date">Subota,  3. Travanj</h2>
                                <h2 class="time">12:30 </h2>
                              </div>
                            <h3>{{ leftTitle }}</h3>
                            <div class="news-item" v-for="(content, index) in leftContent" :key="index">
                              <div class="ref">
                                <span class="topListNum">{{ index+=1 }}</span>
                                <p class="topListParag">{{ content }}</p>
                              </div>
                            </div>
                          </div>
                    </div>
                    <div class = "container-top-middle">
                        <article v-for="(content, index) in mainArticle" :key="index" id="firstArticle">
                            <div class="articleTitle">
                                
                            </div>
                            <div class="contentContainer"> 
                                <div class="imgSide">
                                    <div class="imgContainer">
                                        <img v-bind:src="'/assets/imgs/' + content.img">
                                    </div>
                                </div>
                                <div class="textSide">
                                    <h3>{{ content.middleTitle }}</h3>
                                    <p v-for="(content1, index1) in mainArticle[index].p" :key="index1">{{ content1 }}</p>
                                    <a href = "#">Read More <span>>></span></a>
                                </div>
                            </div>
                        </article> 
                        <div id="secondaryArticles">
                            <article v-for="(content, index) in article" :key="index" class="articles">
                                <div class="articleTitle">
                                </div>
                                <div class="contentContainer2"> 
                                    <div class="imgSide">
                                        <div class="imgContainer">
                                            <img v-bind:src="'/assets/imgs/' + content.img">
                                        </div>
                                    </div>
                                    <div class="textSide">
                                        <h3>{{ content.middleTitle }}</h3>
                                        <a href = "#">Read More <span>>></span></a>
                                    </div>
                                </div>
                            </article>  
                        </div> 
                        
                        <div class="wallpaper-divider"></div>
                        <button id="myButton">Učitaj još</button>
             
                    </div>

                    <div class="rightEmpty"></div>
                    <div class="container-top-right">
                        <div class="news-log">
                            <div class = "social-icons">
                                <ul>
                                    <li>
                                        <a href= "#"><i class = "fab fa-facebook fa-2x"></i></a>
                                        <a href= "#"><i class = "fab fa-twitter fa-2x"></i></a>
                                    </li>
                         
                                    <li>
                                        <a href= "#"><i class = "fab fa-instagram fa-2x"></i></a>
                                        <a href= "#"><i class = "fab fa-youtube fa-2x"></i></a>
                                    </li>
                             
                                </ul>
                            </div>
                              <h3>{{ rightTitle }}</h3>
                              <div class="news-item"  v-for="(content, index) in rightContent" :key="index">
                                <div class="ref">
                                  <span class="topListNum">{{ index+=1 }}</span>
                                  <p class="topListParag">{{ content}}</p>
                                </div>
                              </div>
                              
                          </div>
                          
                    </div>
                </div>
                
            </section>
        </main>
        <footer>
            <div class = "footer-container">
                <div class = "footer-left">
                    <h2>TECHNEWS</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur molestias aut blanditiis totam quia enim, autem tenetur cum facere, fugit beatae at voluptas ipsum perferendis!</p>
                </div>

                <div class = "footer-right">
                    <h2>Newletter</h2>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, autem!</p>
    
                    <div>
                        <input type = "text" placeholder = "Email Address">
                        <i class = "fas fa-envelope"></i>
                    </div>
                </div>
            </div>
            <p>Copyright &copy; 2023 All rights reserved | Josephina</p>
        </footer>
    </body>
    <script  src="/assets/main.js"></script>
    <script >
        Vue.createApp({
            data(){
                return{
                    links:[
                            {text:'Naslovna', url:'#'},
                            {text:'Lifestyle', url:'#2'},
                            {text:'Schi/Tech', url:'#3'},
                            {text:'Sport', url:'#4'},
                            {text:'Viral', url:'#5'},
                             ]
                            ,
                    title:'TECHNEWS',
                    vijesti:"VIJESTI",
                    leftTitle:"Najčitanije",
                    leftContent:[
                         'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         'Etiam vel augue non velit euismod laoreet.',
                         'Proin sodales sapien ac massa molestie imperdiet.',
                         'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',

                    ],
                    rightTitle:"Najnovije",
                    rightContent:[
                         'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',
                         'Etiam vel augue non velit euismod laoreet.',
                         'Proin sodales sapien ac massa molestie imperdiet.',
                         'Lorem ipsum dolor sit amet, consectetur adipiscing elit.',

                    ],
                    article:[
                        {   
                            middleTitle:'Voditeljica se oprostila od RTL-a, a sada je poznato i gdje nastavlja svoju karijeru i na kojoj poziciji ',     
                            img:'2.jpeg'
                        },
                        {   
                            middleTitle:'Žurio kod veterinara? Policija objavila urnebesnu fotografiju, traže vozača zbog prebrze vožnje ',
                            img:'3.png'
                        }
                        
                    ],
                    mainArticle:[
                    {
                            middleTitle:'Upozorenje vrhunskog fizičara: AI-u se ne smije dati tri stvari. Dali smo mu sve tri ', 
                            p:['U podcastu Lexa Fridmana, informatičara i istraživača umjetne inteligencije na Massachusetts Institute of Technologyju (MIT), Max Erik Tegmark, fizičar, kozmolog i istraživač strojnog učenja, profesor na MIT-ju i predsjednik Future of Life Instituta, objasnio je, među ostalim, zašto je zabrinut sadašnjim načinom razvoja umjetne inteligencije i zašto je sa skupinom znanstvenika, mislilaca i stručnjaka za umjetnu inteligenciju pokrenuo otvoreno pismo kojim traže šestomjesečni moratorij na daljnje unapređivanje sustava moćnijih nego što je GPT-4.'
                            ],
                            img:'1.jpg'
                        }
                    ]
                    
                };
            }
        }).mount('body');
    </script>
</html>