*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading: 'Montserrat', sans-serif;
}

body{
    font-family: 'Raleway', sans-serif;
    background: #fff;
}

/* global styling */

.wallpaper-divider {
    padding-top: 2%;
    text-align:center;
    /*box-shadow: 0 1em 1em -1em rgba(0, 0, 0, .65);*/

}

img{
    width: 100%;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

hr{
    width: 95vw;
    margin: 0 auto;
}

/* header */

.top-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color: #fff;
    padding: 20px 30px;
}

.top-head .fas{
    font-size: 2rem;
    cursor: pointer;
}

/******* js related styling *****/

.times-btn{
    display: none;
}

.nav-bar{
    background: #333;
    height: 0;
    overflow: hidden;
}

.show-nav{
    height: auto;
}

/**********Nav**********/

.nav-bar ul li{
    text-align: center;
    display: block;
    padding: 15px 0;
    transition: all 1s ease-in-out;
}

.nav-bar ul li:hover{
    background: #0e0e0e;
}

.nav-bar ul li a{
    color: #fff;
    text-transform: uppercase;
}

.nav-bar ul li a:hover{
    text-decoration: underline;
}


.loginContainer{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.loginIcon{

    width: 40px;
    height: 40px;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 3px;
    width: 300px;
  }
  .search-container input[type=text] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    background-color: #f2f2f2;
    margin-right: 8px;
    padding: 8px;
    border-radius: 4px;
    color: #333;
  }
  .search-container button[type=submit] {
    background-color: #333;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  .search-container button[type=submit]:hover {
    background-color: #555;
  }
  .search-container input[type=text]:focus {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  }



/** main ***/
main{
    display: flex;
    justify-content: center;
    height: auto;
}

main a{
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5s;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

/* main container left */

.main-container-left {

}


.main-container-left > h2{
    padding: 15px 0 15px 30px;
}

.main-container-left h3{
    padding: 10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.main-container-left p{
 
    font-weight: 300;
}


.main-container-left article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.main-container-left article:hover{

    background-color: #f5f5f5;

}
.holder{
    display: flex;
    justify-content: center;
}
.contentContainer{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

}
.articleTitle{
    text-transform: uppercase;
    padding: 15px;
    text-align: center;
    font-size: 22px;
}

.container-top-middle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px 30px;
    width: 70%;
}
.container-top-left{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    width: 15%;
    height: auto;
    position: fixed;
    left:0;
    top: 50px;
}
.leftEmpty{
    width: 15%;
}
.ref{
display: flex;
justify-content: space-evenly;
background-color: #f6f6f6;
}
.ref:hover{
    background-color: #dcd8d8;
}
.topListNum{
    background-color: rgb(64, 63, 63);
    padding: 20px;
    margin: 15px;
    color: white;
}
.topListParag{
        display: flex;
        justify-content: center;
        align-items: center;
}
.news-item{
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

.container-top-right{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 15%;
    height: auto;
    margin-right: 20px;
}


.container-bottom-left{
    background: #f3f3f3;
    margin: 15px 30px;
}

.textSide{
    width: 30%;
    display: flex;
    margin: 20px 40px;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    gap: 10px;
}

.imgSide{
    width: 70%;
    display: flex;
    justify-content: center;
}
.imgContainer{
    width: 95%;
    margin-top: 20px;
}



/****** footer *****/

footer{
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
}

footer h2{
    padding: 10px 0;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.footer-left, 
.footer-right{
    margin: 0 20px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.footer-right i{
    font-size: 1.8rem;
    color: #808080;
}

.footer-right input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color: #808080;
    padding-right: 10px;
    width: 100%;
}

.footer-right div{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}


@media(min-width: 768px){
    .container-bottom-left{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
}


@media(min-width: 800px){
    /* nav */
    .ham-btn, .times-btn{
        display: none!important;
    }

    .navigation-container{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }

    .top-head{
       
     
        width: 30%;
    }
    .top-head:last-child{

    }


    .nav-bar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }

    .nav-bar nav ul{
        display: flex;
        justify-content: center;
    }
    .nav-bar nav ul li{
        padding-right: 30px;
    }

    .nav-bar nav ul li:hover{
        background: none;
    }

    .footer-container{
        display: flex;
    }

    .footer-right,
    .footer-left{
        flex: 1;
    }
}

